.camera {
  width: 49%;
  height: auto;
}

.res-choose {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
}

@media only screen and (max-width: 1100px) {
  .camera {
    width: 100%;
    height: auto;
  }
}