td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.customer-list {
  overflow: scroll;
}

#optout-types button {
  display: inline-flex;
}