			<!-- panel left -->
			<div data-role="panel" id="adminpanel" data-display="overlay" data-position-fixed="true" >
				<div data-role="header" data-position="fixed" class="wow fadeIn">
					<? if(!$keylogin) { ?><a href="/admin/" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-home"></i></a><?}?>
					<h1 class="wow fadeIn"><?=$bu_name?></h1>
				<!--	<div class="row">
						<form action="/" method="POST">
							<select name="bus" class="ui-btn ui-btn-raised ui-btn-right" onchange="this.form.submit()">
							<? foreach ($bus_list as $bu) { ?>
				  				<option value="<?=$bu->id?>" <? if($bu_id == $bu->id) echo "selected"; ?>><?=$bu->name?></option>
							<? } ?>
							</select>
						</form>
					</div>-->
				</div>
				<br/>
				<br/>
				<br/>
				<!--<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="//lorempixel.com/200/200/people/9/" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Jane Doe</strong>
								<span class='subline'>Super Power User</span>
							</div>
						</div>
					</div>
				</div>-->
		<!--		<div data-role="header">
					<div class="ui-grid-b">
						<div class="ui-block-a">
							<form action="/" method="POST">
								<select name="bus" class="ui-btn-left" onchange="this.form.submit()">
								<? foreach ($bus_list as $bu) { ?>
					  				<option value="<?=$bu->id?>" <? if($bu_id == $bu->id) echo "selected"; ?>><?=$bu->name?></option>
								<? } ?>
								</select>
							</form>
						</div>
						<div class="ui-block-b"><div data-role="header"><h1 style="width:400px; text-align:left">RMS Hank | <?=$bu_name?> | <?=$username?> - <?=$user_groups->name?></h1></div></div>
						<div class="ui-block-c"><div data-role="header"><a href="/auth/logout" data-transition="slide" class="ui-btn-right" data-icon="power">Logout</a></div>
					</div></div>
				</div>-->

				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Elements</li>
				</ul>
				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Staff</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
			
					<li><a rel="external" data-ajax="false" href="/news"><i class="zmdi zmdi-info-outline zmd-fw"></i> News</a></li> 
					<li><a rel="external" data-ajax="false" href="http://hank.shiftplanning.com/app/"><i class="zmdi zmdi-calendar zmd-fw"></i> Shiftplanning</a></li>
					<li><a rel="external" data-ajax="false" href="/webcashier/"><i class="zmdi zmdi-money zmd-fw"></i>Cashier</a></li>
					<li><a rel="external" data-ajax="false" href="/checklist/"><i class="zmdi zmdi-assignment-check zmd-fw"></i>Checklist</a></li>
					<li><a rel="external" data-ajax="false" href="/discount/"><i class="zmdi zmdi-money-off zmd-fw"></i> Discount</a></li>
					<li><a rel="external" data-ajax="false" href="/order/"><i class="zmdi zmdi-shopping-basket zmd-fw"></i> Order</a></li>
					<li><a rel="external" data-ajax="false" href="/reminder/"><i class="zmdi zmdi-alert-triangle zmd-fw"></i> Reminder</a></li>
					<li><a rel="external" data-ajax="false" href="/sensors/">Sensors</a></li>
					</ul>
				</div>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Manager</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/cameras/"><i class="zmdi zmdi-videocam zmd-fw"></i>Cams</a></li>
						<li><a rel="external" data-ajax="false" href="/posmessage/">Message caisse</a></li>		
						<li><a rel="external" data-ajax="false" href="https://hank.recruiterbox.com/app/#candidates/overview">Recruiter Box (RB)</a></li>
						<li><a rel="external" data-ajax="false" href="https://www.cashpad.net">Reporting Cashpad</a></li>
						<li><a rel="external" data-ajax="false" href="https://secure.tiime.fr">Tiime (compta)</a></li>
						<li><a rel="external" data-ajax="false" href="/auth/">Staff management</a></li>
						<li><a rel="external" data-ajax="false" href="/auth/extra">Extra finder</a></li>
						<li><a rel="external" data-ajax="false" href="/crud/cklChecklistTasks/">Checklists tasks management</a></li>
						<li><a rel="external" data-ajax="false" href="/crud/suppliers/">Suppliers</a></li>
					</ul>
				</div>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Admin</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/examples/pages/profile.html" class="ui-disabled" data-ajax='false'>Profile</a></li>
						<li><a href="/examples/pages/dashboard.html" class="ui-disabled" data-ajax='false'>Dashboard</a></li>
						<li><a href="/examples/pages/gallery.html" class="ui-disabled" data-ajax='false'>Gallery</a></li>
						<li><a href="/examples/pages/chat.html" class="ui-disabled" data-ajax='false'>Chat</a></li>
						<li><a href="/examples/pages/mail_inbox.html" class="ui-disabled" data-ajax='false'>E-Mail Inbox</a></li>
						<li><a href="/examples/pages/team.html" class="ui-disabled" data-ajax='false'>Team</a></li>
						<li><a href="/examples/pages/products_services.html" class="ui-disabled" data-ajax='false'>Products &amp; Services</a></li>
						<li><a href="/examples/pages/blog.html" class="ui-disabled" data-ajax='false'>Blog</a></li>
						<li><a href="/examples/pages/blogpost.html" class="ui-disabled" data-ajax='false'>Blogpost</a></li>
					</ul>
				</div>
				<hr class="inset">
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Information</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Nice to Know</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/info/colors_and_styles.html" data-ajax='false'>Colors &amp; Styles</a></li>
						<li><a href="/info/credits.html" data-ajax='false'>Credits &amp; License</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
